@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
}

@media only screen and (min-width: 750px) {
    .content {
        width: 50%;
        padding-left: 25%;
    }
}

h1,
h2 {
    margin: 0;
}

.game-won {
    background-color: #16a34a !important;
}

.game-lost {
    background-color: #f43f5e !important;
}

table {
    width: 100%;
}

table thead {
    font-weight: bold;
    text-transform: uppercase;
}

input {
    border: 2px dotted;
    font-size: 16px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: transparent;
    outline: none;
    margin-bottom: 1rem;
    transition: all 250ms;
}

input:active,
input:focus {
    background-color: white;
    border: 2px dotted #fb923c;
}

.text-lg {
    font-size: 25px;
}

.text-color {
    color: #f97316;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.rounded {
    border-radius: 1.5rem;
}

.rounded-top {
    border-radius: 1.5rem 1.5rem 0 0;
}

.rounded-bottom {
    border-radius: 0 0 1.5rem 1.5rem;
}

.uppercase {
    text-transform: uppercase;
}

.bg-color {
    background-color: #fff7ed;
}

.pt-2 {
    padding-top: 2rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.p-2 {
    padding: 2rem;
}

/* margin */
.mt-2 {
    margin-top: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.m-2 {
    margin: 2rem;
}

/* button style copied from https://getcssscan.com/css-buttons-examples */
.fancy-button {
    align-items: center;
    background-clip: padding-box;
    background-color: #fb923c;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.fancy-button:hover,
.fancy-button:focus,
.fancy-button2:hover,
.fancy-button2:focus {
    background-color: #fdba74;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.fancy-button2:hover,
.fancy-button2:focus {
    border: 2px solid #fdba74;
}

.fancy-button:disabled {
    background-color: #94a3b8;
}

.fancy-button:hover {
    transform: translateY(-1px);
}

.fancy-button:active,
.fancy-button2:active {
    background-color: #ea580c;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
}

.fancy-button2 {
    align-items: center;
    background-clip: padding-box;
    background-color: transparent;
    border: 2px dotted #f97316;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #f97316;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}